.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/

# env variables
.env

# google credentials
credentials.json

# built lambda functions
functions
# Local Netlify folder
.netlify